@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app {
  width: 100%;
  min-height: 100vh;

  background-color: var(--dark-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
}
